.App {
    width: 100%;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    padding: 20px;
}

.App-header {
    background-color: #fff;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(-2500deg);
    }
    to {
        transform: rotate(2500deg);
    }
}

.mainHeader {
    font-size: 24px;
}

.secondHeader {
    font-size: 10px;
    font-style: italic;
}

.loginForm {
    padding: 15px;
    text-align: center;
    /*margin: 25px;*/

    margin: auto;
    width: 200px;
}

.loginForm input {

    text-align: center;

    padding: 10px;
    margin: 5px;

    border-bottom: 1px dashed;
    border-top: none;
    border-right: none;
    border-left: none;

    font-family: "Courier New", serif ;
}

.loginForm input:focus {
    outline: none;
}

