.CalendarWidget-Content {
    float: right;
}

.CalendarWidget-Calendar {
    padding: 10px;
}

.CalendarWidget-Time {
    width: 200px;
    text-align: center;
    border: 1px black dashed;
    font-family: "Courier New", serif;
    font-size: 24px;
    padding: 10px;
}