.Dashboard {
    width: 100%;
}

.Dashboard-Header {
    background-color: #000;
    padding: 20px;
    color: white;
    font-family: "Courier New", serif;
    height: 30px;
}

.Dashboard-Header-Left {
    font-size: 20px;
    float: left;
}

.Dashboard-Header-Right {
    font-size: 20px;
    float: right;
}

.Dashboard-Content {
    padding: 20px;
}