.JiraWidget-Content {
    width: 700px;
    /*height: 520px;*/
    float: left;
    /*border: 1px black dashed;*/
    padding: 20px;
    font-family: "Courier New", serif;
    font-size: 11px;
    border: 1px black dashed;
}

.JiraWidget-Content-Header {
    margin: 5px 0 5px;
    width: 100%;
    height: 20px;
    border: 1px black dashed;
    border-bottom: none;
    text-align: right;
    font-size: 20px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.JiraWidget-Content-Task {
    padding: 5px;
    margin: 5px;
    border: 1px black dashed;
}

.JiraWidget-Content-Footer {
    text-align: center;
    width: 100%;
    height: 20px;
    border: 1px black dashed;
    border-top: none;
}

.JiraWidget-Task:hover {
    background: #eaeaea;
}

.JiraWidget-Task:active {
    background: #eaeaea;
}