.TaskWidget-Content {
    width: 700px;
    /*height: 520px;*/
    float: left;
    /*border: 1px black dashed;*/
    padding: 20px;
    font-family: "Courier New", serif;
    font-size: 11px;
}

.TaskWidget-Wrapper {
    padding: 20px;
}

.TaskWidget-Task {
    padding: 5px;
    margin: 5px;
    border: 1px black dashed;
}

.TaskWidget-Task:hover {
    background: #eaeaea;
}

.TaskWidget-Task:active {
    background: #eaeaea;
}

.TaskWidget-Content-Table {
    width: 100%;
    height: 350px;
    border: 1px black dashed;
}

.TaskWidget-Content-Table-Footer {
    /*margin: 5px;*/
    text-align: center;
    width: 100%;
    height: 20px;
    border: 1px black dashed;
    border-top: none;
}

.TaskWidget-Content-Table-Header {
    margin: 5px 0 5px;
    width: 100%;
    height: 20px;
    border: 1px black dashed;
    border-bottom: none;
    text-align: right;
    font-size: 20px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.TaskWidget-Task-Task {
    font-size: 16px;
}

.TaskWidget-Task-Task-State-True{
    float: right;
    margin-top: -30px;
    margin-right: 30px;
    width: 10px;
    height: 10px;
    background: url(./red.png) 100% 100% no-repeat;
    background-size: cover;
}

.TaskWidget-Task-Task-State-False{
    margin-top: -30px;
    margin-right: 10px;
    float: right;
    width: 10px;
    height: 10px;
    background: url(./green.png) 100% 100% no-repeat;
    background-size: cover;
}